@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: rgb(36, 35, 51);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(36, 35, 51, .95);
}

.links {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  padding: 15px;
  background-color: rgba(50, 50, 50, 0.8);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.links a {
  color: white;
}

.links i {
  transition: 0.3s;
}

.links i:hover {
  transform: scale(1.1);
}

.links a:visited {
  color: white;
}

.logo {
  height: 30px;
  margin-right: 20px;
  transition: 0.3s;
}

.logo:hover {
  transform: scale(1.1);
}


.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}




.showcase {
  background-color: rgba(0, 0, 0, .1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}


.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.screen {
  background-color: white;
  background-size: cover;
  height: 150px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0px 3px 10px rgba(255, 255, 255, .7);
}

.row {
  display: flex;
}


.seat.selected {
  background-color: #5ed31a;
  box-shadow: 0 0 10px #5ed31a;
}

.seat.occupied {
  background-color: #444451;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat {
  background-color: #e6e6e6;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: .3s;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}